/*! purgecss start ignore */
.fold-container {
    display: none;
    z-index: 11;
    background: #fff;
    transition-property: all;
    -webkit-transition-property: all;
    overflow: hidden;
}

.fold-container.show {
    display: block !important;
}

.fold-right {
    width: 0;
}

.fold-bottom {
    height: 0;
}

.fold-left {
    width: 0;
    margin: 0 0 0 auto;
}
/*! purgecss end ignore */